{% block footer %}
    {% load static %}
    <div class="container_footer">


            <div style="display: flex;flex-direction: column;gap: 17%;">
                <div style="display: flex; gap: 2%">
                    <div>ارتباط با ما:</div>
                    <a style="color: #db0000c2">کلیک کنید</a>
                </div>
                <div style="color: rgb(181 0 0);font-size: 1.1rem;">۷روز هفته پاسخگوی شما هستیم</div>
            </div>
            <div class="content_footer" style="display: flex;flex-direction: row;gap: 37px;">
                <div style="display: flex;flex-direction: column;gap: 17px">
                    <div>خدمات مشتریان</div>
                    <div>پاسخ به پرسش‌های متداول</div>
                    <div>رویه‌های بازگرداندن کالا</div>
                    <div>گزارش باگ</div>

                </div>
                <div style="display: flex;flex-direction: column;gap: 17px">
                    <div>راهنمای خرید</div>
                    <div>نحوه ثبت سفارش</div>
                    <div>رویه ارسال سفارش</div>

                </div>
            </div>
            <img style="width: 12%;margin-right: 7%" src="{% static 'svg/logo0.svg' %}">

        </div>






{% endblock %}



