{% load static %}
{% load custom_filters %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ product.name }}</title>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'css/products/productDetail.css' %}" rel="stylesheet">
</head>
<body>
{% include 'templates/home/navbar.html' %}
<div class="container_detail">
    <div class="content_img">

        <img src="{{ product.img.url }}">
        <div style="width: 24%;">
            {% for image in images %}
                <img style="width: 100% ;height: 100%" src=" {{ image.image.url|safe }}  ">
            {% endfor %}
        </div>
    </div>
    <div class="content_detail">
        <div style="width: 100%;text-align: center;font-size: 1.5rem;color: yellow;">{{ product.name }}</div>
        <div style="text-align: end;font-size: 34px;padding-top: 30px;width: 100%;">{{ price |iran_currency }}<img
                style="width: 4.8%;" src="{% static 'svg/تومان.svg' %}"></div>

        <div class="discription">
            <div id="show-description">توضیحات</div>
            <div id="show-details">جزيیات</div>
            <div id="show-reviews">نظرات</div>
        </div>
        <div id="content_discription" class="content_discription visible">
            <span class="short-content">{{ product.description|slice:190 }}</span>
            <span class="more-content" style="display: none;">{{ product.description }}</span>
            <a href="#" class="toggle-more">مطالعه بیشتر...</a>
        </div>
        <div id="content_details " class="content_details hidden">
            {% for value in values %}

                <li>{{ value.attribute.title }}: {{ value.value }}</li>

            {% endfor %}
        </div>
        <div id="content_reviews" class="content_reviews hidden ">

        </div>

        <div class="container_buy">
            <div class="title_buy">
                <div>رنگ</div>
                <div>تعداد</div>
                <div>جمع خرید</div>
            </div>
            <div class="content_buy">
                <div class="container-color">
                    <div class="content-color">
                        <div class="color-first" id="color-swatch" style="background-color: {{ colors|first }};"
                             title="{{ colors|first }}"></div>

                        {% for color in colors %}
                            <div class="color-swatch hidden" id="color-swatch" style="background-color: {{ color }};"
                                 title="{{ color }}"></div>
                        {% endfor %}
                    </div>

                    <img style="width: 38% " src="{% static 'svg/alt-arow-down.svg ' %}" class="more-colors-button" id="show-more-colors">
                    <img style="width: 54% ;height: 34px" src="{% static 'svg/aly-arrow-up.svg' %}" class="hide-colors-button hidden" id="hide-more-colors">
                </div>

                <div class="container-number">
                    <div class="content-negative">-</div>
                    <div class="content-number">1</div>
                    <div class="content-positive">+</div>
                </div>
                <div class="container-price" data-price="{{ price }}">{{ price|iran_currency }} </div>
            </div>
        </div>


    </div>


</div>
<script src="{% static 'jquery/jquery.min.js' %}"></script>

<script src="{% static 'js/product_detail.js' %}"></script>
</body>
</html>