.container_productList {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1%;

}

.content_productlist {
    width: 74%;
}

.content_categories {
    width: 19%
}

.content_header {
    display: flex;
    flex-direction: row-reverse;
}

.bigSale {
    width: 50%;
    margin: 2%;
    background: linear-gradient(253deg, rgba(240, 247, 255, 1) 0%, rgba(250, 199, 255, 1) 41%, rgba(202, 207, 255, 1) 58%, rgba(255, 245, 175, 1) 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 248px
}

.imgBigSale {
    width: 39%;
    position: absolute;
    left: 54%;
    height: 240px;
    bottom: 7%
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 22px;
    justify-items: center;
    margin-top: 8%;

}

.item {
    width: 66%;
    display: flex;
    flex-direction: column-reverse;
    padding: 12%;
    gap: 20px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: black
}
.item:hover,.item:focus{
     color:orange;
}

.overlay {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 25px;
    transition: bottom 0.5s ease;
}

.overlay:hover,.overlay:focus {
outline: .1rem solid rgba(227, 161, 80, 0.37);
    outline-offset: -0.5rem;
    cursor: pointer;
}

.content_categories {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.category {
    text-decoration: none;
}

.category-name {

    color: orange;
    height: 30px;
    background: #eeeeee96;
    border-radius: 25px;
    padding-top: 10px;

}

.category-name:hover ,.category-name:focus{
    background: #eeee;
    cursor: pointer;
    box-shadow:  0 .5rem 1.5rem rgba(0, 0, 0, .1);;
}