font-face {
    font-family: "myfont";
    src: url("/static/font/Vazir.ttf");

}

html, body {
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: myfont, SansSerif, Ebrima;
}

.container_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1.4fr 1fr 1fr;;
    gap: 15px 15px;
    grid-template-areas:
    "content_headphone content_headphone content_headphone content_headphone"
    "content_mouse content_keyboard content_speaker content_speaker"
    "content_handsfree content_handsfree content_accessories content_handle";
    padding: 0% 3%;

}


.content_speaker, .content_headphone,
.content_keyboard, .content_handle,
.content_handsfree, .content_mouse, .content_accessories {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.content_headphone {
    grid-column: 1 / span 4
}

.content_speaker {
    grid-column: 1 / span 2;
}


.content_handle {
    grid-column: 1
}

.content_handsfree {
    grid-column: 3 / span 4
}


.content_accessories {
    grid-column: 2 / span 1
}

.img_header {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.button_speaker, .button_headphone, .button_keyboard, .button_mouse, .button_handle, .button_accessories, .button_handsfree {
    padding-top: 9px;
    cursor: pointer;
    position: absolute;
    border-radius: 23px;
    text-align: center;
    width: 120px;
    height: 32px;
}

.button_headphone {
    background-color: #b50000;
    color: white;
    top: 66%;
    left: 9%;

}

.button_speaker {
    background-color: #ffffff;
    color: #b50000;
    bottom: 14%;
    right: 69%;

}

.button_keyboard {
    background-color: #ffffff;
    color: #f9da24;
    bottom: 8%;
    right: 43%;
}

.button_mouse, .button_handsfree {
    background-color: #d91111;
    color: #ffffff;
    bottom: 8%;
    right: 43%;
}

.button_handle {
    background-color: #ffffff;
    color: #3850a2;
    bottom: 49%;
    right: 41%;
}

.button_accessories {
    background-color: #ffffff;
    color: #159b68;
    width: 188px;
    height: 33px;
    bottom: 8%;
    right: 11%

}

.button_handsfree {
    background-color: #d91111;
    color: #ffffff;
    bottom: 42%;
    right: 63%;
}

.security {
    display: flex;
    justify-content: space-between;
    padding: 6% 3%
}

.security a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.security a img {
    width: 20%
}

.security a div span {
    color: #919191;
}
